* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

body{
    background: rgb(151, 253, 253);
}
/* the background behind the questions */
.app{
    background: white;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}
/* the wording */
.app h1{
    font-size: 25px;
    color: lightpink;
    font-weight: 600;
    border-bottom: 1px solid #140133;
    padding-bottom: 30px;
    text-align: center;
}
.quiz {
    padding: 20px 0;
}

.quiz h2{
   font-size: 18px;
   color: lightpink; 
   font-weight: 600;
}
/* the answer button */
.btn{
    background: white;
    color: rgb(9, 18, 138);
    font-weight: 500;
    width: 100px;
    border: 1px solid #f581d2;
    padding: 10px;
    margin: 10px;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}
/* to make it turn blue */
.btn:hover:not([disabled]){
    background: #6fb0fa;
    color: #fff;
}

.btn:disabled{
    cursor: no-drop;
}

#next-btn{
    background: #74a5f5;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}
/* if its correct */
.correct{
    background: rgb(2, 179, 11);
}
/* if its incorrect */
.incorrect{
    background: rgb(250, 71, 71);
}

/* Add style for the high score page */
#high-score-page {
    text-align: center;
    color:lightpink
}

#high-scores-list {
    list-style: none;
    color: bisque;
}

#high-scores-list li {
    margin: 5px;
    font-size: 16px;
    color: #74a5f5;
}
